h1 {
    color: red;
    text-align: center;
}
header img {
    width: 100%;
}
main{
    width: 60%;
    margin: auto;
}
p {
    font-size: 16px;
    text-align:justify;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}